# deployment + server
uvicorn[standard]
fastapi

# main dependencies
streamlit
python-dotenv
pydantic
requests
httpx

# langchain ecosystem
langchain
langchain-community
langchain-experimental
langchain-openai
langchain-groq
langchain-tavily
langchain-google-community
langgraph
googlemaps
langchain-google-community[places]

# optional: to avoid errors if groq isn't on PyPI, keep this for safety
groq

# local install (editable)
-e .
